%tr
  %td
    = league.name
  %td
    = league.sport
  %td
    = league.start_date
  %td
    = league.end_date
  %td
    = link_to 'Edit/Show', edit_admin_league_path(league)
    |
    = link_to 'Games', admin_league_games_path(league)
  