%h2 Games List for #{@league.name}

%hr

%table
  %thead
    %tr
      %th Teams
      %th{:colspan => 2} Start Time
  %tbody
    - unless @games.blank?
      = render :partial => 'game', :collection => @games
    - else
      %tr
        %td{:colspan => 3}
          You have not created any games. #{link_to 'Get started now!', new_admin_league_game_path}
    
= will_paginate @games

%hr

.span-1
  = link_to 'New Game', new_admin_league_game_path