%html
  %head
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'partials/_base.css'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'

  %body.three-col.bp
    #container
      %h1
        League Manager
      %hr
      
      #notifications.span-24.last
        - if flash[:error]
          .error= flash[:error]
        - if flash[:notice]  
          .notice= flash[:notice]
        - if flash[:success]
          .success= flash[:success]
    
      #content
        =yield